@font-face {
  font-family: Openhouse;
  src: url('./fonts/Openhouse/Openhouse.woff2') format('woff2'),
       url('./fonts/Openhouse/Openhouse.woff') format('woff'),
       url('./fonts/Openhouse/Openhouse.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
